/* 	css rules for leaderboard.html page
	author: 9231004;
	date: 21-8-1395
	version: 0.1;
*/

ul {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    padding: 0;
    overflow: hidden;
    border: 1px solid #023;
    background-color: #023;
    width: 100%;
}

li {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 25;
}

ol > li{
	color: black;
}
#ceitgames {
	float: right;
    margin-right: 200px;
}

#icon {
	float: left;
    margin-left: 100px;	

}

.box {
	background-color: white;
	width: 35%;
	height: 850px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.title{
	color: gray;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}



.photo {
	border-radius: 100%;
	width: 50%;
	height: 100%;
	margin-top: 10px;
	margin-left: 25%;
}
.photo:hover{

}

.listuser {
	display: block;
	text-align: right;
	margin-top: 20px;
	height: 60px;
//	background-color: red;
}
.listuser:hover {
	background-color: lightgray;
}


.listphoto {
	border-radius: 100%;
	width: 12%;
	height: 100%;
//	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

.listrank {
	float: right;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 25px;
}
.listusername {
	float: right;
	margin-top: 5px;
	//margin-right: 5px;
	//background-color: black;
}

.listscore {
	color: green;
	//float: right;
	margin-top: 10px;
	//margin-right: 100px;
	font-size: 80%;

}

.liststars{
	position: relative;
	color: gold;
	margin-left: 20px;
	float: left;
	top:-30px;
}

.hex {
	border-radius: 5px 5px 5px 5px;
	vertical-align: middle;
	line-height: 20px;
	position: absolute;
	font-size: 70%;
	text-align: center;
	color: white;
	float: left;
	width: 20px;
	height: 20px;
	top:340px;
	background-color: #757575;

	
}
#hex2.hex {
	margin-left: 100px;
}

#hex1.hex {
	margin-left: 110px;
}

#hex3.hex{
	margin-left: 100px;
}

.listhex{
	border-radius: 5px 5px 5px 5px;
	vertical-align: middle;
	line-height: 20px;
	position: relative;
	font-size: 70%;
	text-align: center;
	color: white;
	float: left;
	width: 20px;
	height: 20px;
	left:309px;
	top:40px;
	margin-left: 100px;
	background-color: #757575;
}


/*
#hex1.hex {
	float: left;
border-right: 30px solid #6C6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;
}


#hex2.hex {
	float: left;
width: 60px;
height: 104px;
background-color: #6C6;
}

#hex3.hex {
	float: left;
border-left: 30px solid #6C6;
border-top: 52px solid transparent;
border-bottom: 52px solid transparent;

}
*/

.rank {
	margin-left: 50%;
}

.num2:hover {
	background-color: lightgray;
}
.num2{

		float: left;
		width: 33%;
		height: 100%;
		margin-top: 40px;
		margin-bottom: 20px;
		//background-color: gray;
}
.num1:hover{
	background-color: lightgray;
}
.num1{
		float: left;
		width: 34%;
		//margin-left: 5px;
		height: 100%;
		//margin-bottom: 20px;
		margin-top: 20px;
		//background-color: gray;
}

.num3:hover{
	background-color: lightgray;
}
.num3{
		float: left;
		width: 33%;
		height: 100%;
		margin-bottom: 20px;
		margin-top: 40px;
		//background-color: gray;

}

#firstrankimg {
	width: 60% !important;
	border:2px solid yellow;
}

#secondrankimg {
	border:1px solid gray;
}

#thirdrankimg {
	border:1px solid red;
}

.username{
	font-size: 80%;
	width: 50%;
	margin:auto;
	margin-left: 27%;
}

#firstrankuser {
	margin-left:32% !important;
	//font-weight: bold;
}

.score{
	font-size: 90%;
	width: 50%;
	margin:auto;
	margin-left: 35%;
	color: green;
}

#firstrankscore {
	margin-left:40% !important;	
	font-weight: bold;
}

.stars{
	font-size: 80%;
	width: 50%;
	margin:auto;
	color: gold;
}
#firstrankstar {
	margin-left:32% !important;	
	//font-weight: bold;
}

hr {
	display: block;
	width: 90%;
	color: red  !important;
}

.tmp {
	color: white;
}

.footer {
	text-align: center;
	width: 100%;	
}
.footer:hover{
	font-size: 200%;
	background-color: lightgray;
}